body{
    background-color: rgb(247, 244, 239);
}
.container{
    display: grid;
    height: 300px;
    width: 900px;
    border: solid rgb(38, 228, 54) 4px;
    grid-template-columns: repeat(12,1fr);
    /* gap: 10px; */
}
.row1,.row2,.row3{
    border: 2px dotted black;
}
.row1{
    /* grid-column-start: 3;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2; */
    grid-column: 3/7;
    grid-row: 1/2;
    background-color: aqua  ;
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 2;
}
.row1col1,.row1col2,.row1col3,.row1col4{
    height: 70px;
    border: solid 1px red;
}
.row1col1{
    grid-column: 1/2;
    grid-row: 1/2;
}